/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap'); */
/* @import url('main.css'); */

/* *, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
} */

/* html, body {
    height: 100%;
    background-color: #152733;
    overflow: hidden;
} */

:root {
    --app-container: #f3f6fd;
    --main-color: #1f1c2e;
    --main-op-color: #fff;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #000;
    --link-color-active-bg: #c3cff4;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --input-area-bg: #e0e7ff;
    --star: #1ff1c2e;
    --light-font: rgba(255,255,255,.8);
    --dark-font: #1f1c2e;
    --message-btn: #fff;
  }
  
  .dark:root {
    --app-container: #111827;
    --main-color: #fff;
    --main-op-color: #000;
    --secondary-color: rgba(255,255,255,.8);
    --projects-section: #1f2937;
    --link-color: rgba(255,255,255,.8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active: #fff;
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --input-area-bg: rgba(255,255,255,.8);
    --message-box-hover: #243244;
    --message-box-border: rgba(255,255,255,.1);
    --star: #ffd92c;
    --light-font: rgba(255,255,255,.8);
    --dark-font: #1f1c2e;
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
  }

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    /* border: 3px solid #fff; */
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    font-size: 28px;
}

.form-content h4 {
    font-size: 24px;
}

.form-content h3, h4 {
    color: var(--main-color);
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title, h4.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: var(--main-color);
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content label, .form-content span, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: var(--main-color);
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], input[type=file], input[type=date], .form-content select, .form-content textarea {
    width: 100%; 
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: var(--input-area-bg);
    font-size: 15px;
    font-weight: 300;
    color: var(--dark-font);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    /* background-color: #ebeff8; */
    /* color: var(--main-color); */
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{ 
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}